@font-face {
    font-family: 'Lato';
    src: url(Lato-Light.woff), url(Lato-Light.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Light.woff);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.mobile {
    display: none;
}

h1, h2, a {
    font-family: 'Lato';
}

h1 {
    font-size: 32px;
    white-space: nowrap;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: inherit;
}

p {
    font-family: 'Open Sans';
}

.slider {
    position: relative;
    box-sizing: border-box;
    height: 360px;
    padding-top: 50px;
}

.slick-list {
    height: 100%;
    overflow: hidden;
}

.slick-slide {
    margin: 0 10px;
}

.slick-track {
    display: flex;
}

.slider__item {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.slider__item img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.red, .yellow, .black {
    border-bottom: solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.red {
    border-color: #D60000;
}

.yellow {
    border-color: #F7C700;
}

.black {
    border-color: black;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 4px;
}

.links-container {
    display: flex;
    gap: 20px; 
}

.content {
    max-width: 1240px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.block {
    width: 50%; 
    padding-bottom: 20px;
}

.block h2, .block p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 20px;

}

.image-block {
    min-width: 200px;
    max-width: 400px;
    text-align: left;
    justify-content: left;
}

.image-block img {
    width: 100%;
    height: 232px;
    border-radius: 10px;
    object-fit: cover;

}

.image-block h2 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.image-block p {
    margin-top: 0px;
    padding-top: 0px;
}

.arrow {
    width: 200px;
    margin-top: 0px;
    padding: 0px;
}

.arrow img {
    width: 58px;
    height: 117px;
    padding: 60px 70px;
    border: 2px solid black;
}

.container-socials {
    display: flex;
    gap: 20px;
}

.container-socials img {
    width: 40px;
}

.block-social {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
    margin-right: 50px; 
}

.block-social img {
    height: 40px;
}

.block-social h1 {
    padding-bottom: 10px;
}

.content-dark {
    width: 100%;
    margin: auto;
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 20px;
    color: white;
}

.center {
    width: 65%;
    margin: auto;
}


.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.calculator-form {
    display: flex;
    max-width: 600px; 
    width: 100%; 
    flex-wrap: wrap; 
    gap: 10px; 
}

input {
    flex: 1; 
    height: 60px;
    padding-left: 20px;
    color: black;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 18px;
    box-sizing: border-box; 
}

button {
    height: 50px;
    color: white; 
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    box-sizing: border-box; 
}

button:hover {
    background-color: #a50000; 
}

.result {
    margin-top: 30px;
    text-align: center; 
    padding: 20px;
}

.result h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.result p {
    font-size: 22px;
    margin: 10px 0;
}

.result .link {
    font-size: 18px;
    color: #333; 
}

.result .price {
    font-size: 28px;
    color: #D60000; 
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .calculator-form {
        flex-direction: column; 
    }

    input {
        flex: none;
        margin-bottom: 10px; 
        height: 60px;
    }

    button {
        width: 50%; 
        margin: 0 auto; 
    }
}

.news {
    gap: 20px;
}

.news h2 {
    margin-top: 10px;
}

.article {
    width: calc(96%/3);
    height: auto;
}

.article img {
    object-fit: initial;
    margin-top: 0px;

}

.read {
    margin-top: -12px;
    height: 280px;
}

@media screen and (max-width: 768px) {
    * {
        overflow-x: hidden;
    }

    .center {
        width: 100%;
    }

    .white {
        padding-left: 20px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
        margin: 0;
    }

    p {
        font-size: 12px;
        margin-top: 0px;
        margin-left: 20px;
    
    }

    .navigation {
        flex-direction: column;
    }

    .links-container {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }

    .navigation a[href^="tel"] {
        order: -1;
    }

    .container {
        margin-top: 0px;
    }

    .content {
        padding-top: 10px;
    }

    .content h1 {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .block {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-img {
        flex-direction: column;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .image-block {
        width: 100%;
    }

    .image-block img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .arrow {
        width: 98%;
        border-radius: 0px;
        padding-right: 10px;
    }

    .arrow img {
        width: 100%;
        margin: auto;
        padding: 0px;
        border: 1px solid black;
    }

    .container-socials {
        display: block;
    }

    .block-social {
        width: 100%;
        height: 80px;
        padding-left: 20px;
    }

    .read {
        margin-top: 10px;
    }

    .slider {
        padding-top: 30px;
        height: 190px;
        width: 100%;
    }

    .slider__item img {
        height: 150px;
        width: 180px;
    }

    .slick-slide {
        margin: 0 6px;
    }
}