{% load static %}
<div class="content">
    <div class="yellow">
        <h1>Контакты</h1>
        <p>Давайте вместе найдем автомобиль вашей мечты</p>
    </div>
    <div class="container-socials">
        <div class="block-social phone">
            <img src="{% static 'img/Phone.svg' %}" alt="">
            <a href=""><h1>+7 938 299 12 57</h1></a>
        </div>
        <div class="block-social whatsapp">
            <img src="{% static 'img/whatsapp.svg' %}" alt="">
            <a href=""><h1>WhatsApp</h1></a>
        </div>
        <div class="block-social telegram">
            <img src="{% static 'img/telegram.svg' %}" alt="">
            <a href=""><h1>Telegram</h1></a>
        </div>
    </div>
</div>