{% extends "base.html" %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'css/object.css' %}" />{% endblock head %}
{% block content %}
    <div class="content">
        <div class="container-img">
            <div class="image-block black">
                <img src="{{ car.image_url }}">
                <h1>{{ car.title }}</h1>
                <h2>{{ car.price_in_rub }} руб</h2>
                <a href="{{ car.url }}">Ссылка на mobile.de</a>
            </div>
            <div class="table-block black">
                <h1>Технические <br> характеристики</h1>
                <table class="table">
                    {% for key, value in car.technical_data.items %}
                        <tr>
                            <td>${{ key }}$</td>
                            <td>${{ value }}$</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="table-block black">
                <h1>Комплектация</h1>
                <div class="configuration-container">
                    <div class="configuration-options">
                        {% for equipment in equipments %}
                            <p>${{ equipment.text }}$</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-dark">
        <div class="center">
            <div class="white">
                <h1>Оставить заявку</h1>
                <p>Давайте вместе найдем автомобиль вашей мечты</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="container-socials">
                    <div class="block-social white">
                        <img src="{% static 'img/user.svg' %}" alt="">
                        <label>
                            <input type="text" placeholder="Имя и фамилия" name="fullname">
                        </label>
                    </div>
                    <div class="block-social phone">
                        <img src="{% static 'img/Phone.svg' %}" alt="">
                        <label>
                            <input type="tel" maxlength="12" placeholder="Телефон" name="phone">
                        </label>
                    </div>
                </div>
                <div class="container-socials">
                    <div class="block-social white send full">
                        <img src="{% static 'img/send.svg' %}" alt="">
                        <button type="submit" value="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="black">
            <h1>Социальные сети</h1>
        </div>
        <div class="container-socials">
            <div class="block-social telegram">
                <img src="{% static 'img/telegram.svg' %}" alt="">
                <h1>Telegram канал</h1>
            </div>
            <div class="block-social red">
                <img src="{% static 'img/Youtube.svg' %}" alt="">
                <h1>YouTube канал</h1>
            </div>
        </div>
    </div>
{% endblock content %}
